  <!DOCTYPE html>
<html>
<head lang="en-US">
  <meta charset="utf-8">
  <title>Flickr</title>
  <base href="../../">
  <link rel="prerender" href="views/results">
  <link rel="stylesheet" href="views/search/index.css">
  <link rel="stylesheet" href="bower_components/gaia-theme/gaia-theme.css">
  <script src="bower_components/gaia-component/gaia-component.js"></script>
  <script src="bower_components/gaia-text-input/gaia-text-input.js"></script>
  <script src="bower_components/gaia-button/gaia-button.js"></script>
  <script src="bower_components/threads/threads.js"></script>
  <script src="bower_components/little-browser/lib/runtime.js"></script>
</head>
<body class="theme-media">
  <form action="views/results" method="get">
    <input placeholder="Search" type="search" name="query">
  </form>
</body>
</html>
